*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  background-color: bisque;
  /* border: 1px solid red; */
  padding-top: 20px;
  display: flex;
  align-items: flex-start;
  height: 100vh;
  justify-content: center;
  padding-left: 20px;
}

.form {
  padding: 20px 20px;
  /* border: 1px solid red; */
  /* background-color: antiquewhite; */
  display: flex;
  align-content: center;
  flex-direction: column;
  gap: 20px;
}

.form-element-text,
.form-element-social {
  /* border: 1px solid green; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

input,
textarea {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid black;
}

label {
  display: flex;
  align-items: center;
}

.submit-btn {
  /* border: 1px solid red; */
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 10px 10px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.form-element-social-links {
  /* border: 1px solid red; */
  display: flex;
  gap: 4px;
}

.form-element-social-links :nth-child(1) {
  width: 30%;
}

.form-element-social-links :nth-child(2) {
  width: 70%;
}

.add-btn {
  display: flex;
  align-self: center;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 2px 10px;
  box-shadow: 1px 1px 3px hsl(0deg 0% 0% / 0.38);
}

.form-element-interest {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-element-interest-input {
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}

.form-element-interest-input > input {
  width: 30%;
}

.interest-chip {
  /* border: 1px solid red; */
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.interest-card-container {
  /* border: 1px solid red; */
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.social-card-container {
  /* border: 1px solid red; */

  display: flex;
  gap: 10px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.render-cards {
  margin-left: 20px;

  /* border: 1px solid red; */
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}


.cardContent-container{
  position: relative;
}
.card-read-delete-container{
  display: flex;
  gap: 20px;
  position: absolute;
  top: 25px;
  right: 20px;
}

.card-read-delete-container button{
  border: none;
  background: transparent;
  font-size: 10px;
  cursor: pointer;
}