*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: flex-start;
  padding-left: 20px;
}

.form {
  padding: 30px 30px;
  /* border: 1px solid red; */
  width: 400px;
  display: flex;
  align-content: center;
  flex-direction: column;
  gap: 20px;
}

.form-element-text,
.form-element-social {
  /* border: 1px solid green; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

input,
textarea {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid black;
}

label {
  display: flex;
  align-items: center;
}

.submit-btn {
  /* border: 1px solid red; */
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 10px 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.form-element-social-links {
  /* border: 1px solid red; */
  display: flex;
  gap: 4px;
}

.form-element-social-links :nth-child(1) {
  width: 30%;
}

.form-element-social-links :nth-child(2) {
  width: 70%;
}

.add-social-btn,
.add-interest-btn {
  /* border: 1px solid red; */
  display: flex;
  align-self: center;
  padding: 5px 10px;

  border: 1px solid black;
  border-radius: 5px;
  background-color: whitesmoke;
}

.form-element-interest {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-element-interest-input {
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}

.form-element-interest-input > input {
  width: 30%;
}

.interest-chip {
  /* border: 1px solid red; */
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
