**/.env
**/node_modules/
**/Test.jsx
**/solutions/
**/solution/
**/tests/
**/test/
**/package.json
**/package-lock.json
**/.eslintrc.cjs
**/vite.config.js
**/tsconfig.node.json
**/tsconfig.json
**/tailwind.config.cjs
**/postcss.config.js
**/vite-env.d.ts