* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Roboto", serif;
}
body {
  background-color: rgb(26, 25, 25);
}

.todo-container {
  height: 200px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

input {
  padding: 10px 15px;
  color: black;
  border-radius: 5px;
  border: none;
}

.add-clear-todo-btn {
  display: flex;
  gap: 10px;
}

.add-clear-todo-btn > button {
  color: black;
  padding: 3px 10px;
}

.render-todo {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  gap: 35px;
  flex-wrap: wrap;
}

.todo-entry {
  border-radius: 10px;
  border: 0.2px solid rgba(230, 201, 163, 0.05);
  box-shadow: 8px 8px 10px 0px rgba(230, 201, 163, 0.12);

  background-color: rgb(26, 25, 25);
  width: 350px;

  padding: 5px 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo-entry-info {
  word-wrap: break-word;
  font-family: "Playfair Display", serif;
}

.todo-entry-info > h1 {
  padding-bottom: 5px;
}

.todo-entry-info > p {
  padding-bottom: 10px;
}

.todo-edit-completed-btn-container {
  display: flex;
  gap: 10px;
}

.general-button {
  padding: 4px 8px;
  border-radius: 5px;
  border: none;
  color: black;
  background-color: rgb(230, 201, 163);
}
